body{
    margin: 0;
}

header{
    display: flex;
    gap: 10px;

    border-bottom: 2px solid grey;
    padding-bottom: 10px;
    margin: 10px;
}

#logga{
    max-width: 100px;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: end;

    width: 100%;
}

#container a{
    color: black;
    text-decoration: none;
}

div#right{
    display: flex;
    gap: 20px;
    align-items: center;
}

#linje{
    padding-right: 20px;
    border-right: 2px solid black;
}

a#buttom{
    background-color: black;
    color: white;
    text-decoration: none;

    padding: 5px 10px;
    border-radius: 5px;
}

main{
    max-width: 1000px;
    margin: 0 auto;
}
#together{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 80px 0px;
}

#ruta1{
    padding: 30px;
}

#togetherbild{
    max-width: 500px;
}

#company{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 100px 0px;
    
    padding: 30px;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}

#company img{
    height: 20px;
}

@media (max-width: 600px){

}