@font-face {
    font-family: "Text";
    src: url(material/Inter.ttf);
}

body{
    margin: 0;
    font-family: text;
    
}

header{
    display: flex;
    gap: 10px;

    background-color: white;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 10px;

    position: fixed;
    top: 0;
    right: 0;
    left: 0; 
}

#logga{
    height: 20px;
    padding: 10px 0;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

#container a{
    color: black;
    text-decoration: none;
}

div#left{
    display: flex;
    gap: 20px;
}
div#right{
    display: flex;
    gap: 5px;
    align-items: center;
}

#hamburger{
    display: none;
    width: 20px;
}

#linjal{
    height: 15px;
    border-right: 1px solid #e5e5e5;
}

a.buttom{
    background-color: black;
    color: white !important;
    text-decoration: none;

    padding: 5px 10px;
    border-radius: 5px;

    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.1);
}

a.buttom:hover{
    background-color: #353535;
}

.knapp{
    padding: 5px 10px;
}


.knapp:hover{
    background-color: #e5e5e5;
    border-radius: 5px;
}

/* NY DIV I MAIN*/

main{
    max-width: 1000px;
    margin: 100px auto;
}

#together{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 80px 0px;
}

#ruta1{
    max-width: 510px;
}

#ruta1h{
    margin: 0;
}

#ruta1p{
    margin-top: 15px;
    margin-bottom: 25px;
}
#togetherbild{
    max-width: 500px;
}


/* NY DIV I MAIN*/

#company{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin: 100px 0px;

    padding: 30px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

#company img{
    height: 25px;
}


/* NY DIV I MAIN*/

.dogs1{
    max-width: 450px;
}

.dog-infoh{
    margin: 0;
}

.dog-infop{
    margin: 10px 0 40px;
}

.dogpicture{
    max-width: 1000px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
}

.citat{
    margin: 20px auto;
    text-align: center;
    padding: 0 20px;
    
}


.dogs2{
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin: 30px auto 80px;
}

.dogs3{
    margin: 0;
}



.dogs2 img{
    height: 40px;
    margin: 0 10px;
}

#border{
    border-bottom: 1px solid #e5e5e5;
}

/* NY DIV I MAIN*/

#freeplan{
    max-width: 600px;
    margin: 0 auto;

    padding-top: 30px;
}

#free1{
    text-align: center;
    margin: 50px 0px;
}

#freeh{
    margin-bottom: 0;
}

#freep{
    padding: 0px 30px;
    margin-bottom: 20px;
}

#rutafree{
   background-color: #f4f4f4;
   padding: 25px;
   border-radius: 5px;
}

#rutafree img{
    height: 15px;
}

#features{
    padding-bottom: 19px;
}

.rutafree2{
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 2px solid #e5e5e5;
}

#fetch{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* NY DIV I MAIN*/

#build2{
    display: flex;
}


#build-team{
    margin-top: 80px;
    border-top: 1px solid #e5e5e5;
}

#build-team1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0px 50px;
}


.build-teamh{
    margin: 0;
}

#build-teamp{
    margin: 10px 0 5px;
    text-align: center;
}

#del1{
    padding: 0 25px;
    text-align: center;
    
}

#del2{
    padding: 0 25px;
    text-align: center;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
   
}

#del3{
    padding: 0 25px;
    text-align: center;
}


.link{
    color: #121212;
}

.link:hover{
    color: #087fe7;
}


/* NY DIV I MAIN*/

#doglove{
    text-align: center;
    margin: 100px 0 40px;
}

#rated{
    display: flex;
    gap: 80px;
}

#ratedrubrik{
    margin: 60px;
}

#badges{
    max-width: 500px;
}

#procent{
    display: flex;
    justify-content: center;

    text-align: center;
}

.pro{
    border-right: 1px solid #e5e5e5;
    padding: 0px 60px;
    
}

#pro1{
    padding: 0px 60px;
}
.procent1{
    margin-bottom: 0px;
}

.procent2{
    margin-top: 5px;
}

#barky{
    text-align: center;
    margin: 80px 0;
}

footer{
    border-top: 1px solid #e5e5e5;
    margin: auto 10px;
}

#footer{
    max-width: 1200px;
    margin: 0 auto;

    box-sizing: border-box;
    padding: 60px 200px 60px 60px;
    
    
    display: flex;
    
}

#footer1{
    flex-basis: 250px;
}

#footer img{
    height: 20px;
    padding: 0px 1px;
    margin-top: 20px;
}

#footer #bild1{
    height: 25px;
    margin-top: 10px;
    margin-left: 0;
}

#footer2{
    display: flex;
    gap: 100px;
}

#fot1 a,#fot2 a,#fot3 a,#fot4 a{
    display: flex;
    text-decoration: none;
    padding: 7px 0;
}

#fot1 a:hover{
    text-decoration: underline;
}

#fot2 a:hover{
    text-decoration: underline;
}

#fot3 a:hover{
    text-decoration: underline;
}

#fot4 a:hover{
    text-decoration: underline;
}

#textbarky{
    margin-top: 60px;
}

#textbarky1{
    padding-bottom: 20px;
}
/* textstorlek och färg*/

.freetext{
    color:  #999999;
}

.färgA{
    color: #050505;
}

.färgB{
    color: #121212;
}

.färgC{
    color: #353535;
}

.färgD{
    color: #666666;
}

.färgE{
    color: #7f7f7f;
}

.färgF{
    color:#999999;
}

.färgG{
    color: #e5e5e5;
}

.färgH{
    color: #f4f4f4;
}

.storlek12{
    font-size: 12px;
}

.storlek13{
    font-size: 13px;
}

.storlek135{
    font-size: 13.5px;
}
.storlek14{
    font-size: 14px;
}

.storlek15{
    font-size: 15px;
}
.storlek18{
    font-size: 18px;
}

.storlek26{
    font-size: 26px;
}

.storlek36{
    font-size: 36px;
}

.storlek45{
    font-size: 45px;
}

.storlek53{
    font-size: 53px;
}

.weight320{
    font-weight: 320;
}

.weight400{
    font-weight: 400;
}

.weight550{
    font-weight: 550;
}

.weight650{
    font-weight: 650;
}
@media (max-width: 600px){
    header{
        max-width: 580px;
        border-bottom: none;
        position: static;
    }
    
    div#left{
        display: none;
    }

    div#right{
        display: none;
    }
    
    #hamburger{
        display: block;
        margin: 10px 10px 0 auto;
    }

    #hamburger:hover{
        background-color: #999999;
    }
    
    #logga{
        margin: 5px 0 0 10px;
    }
    
    main{
        max-width: 540px;
    }

    #together{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    #ruta1{
        margin-top: 10px;
    }

    .dogpicture{
        width: 540px;
    }

    .citat{
        font-size: 26px;
        margin-top: 40px;
    }

    .dog-information{
        text-align: center;
        margin: 0 auto;
    }
    
    .dog-infoh{
        max-width: 540px;
    }

    .dog-infop{
        max-width: 540px;
    }
    
    #build2{
        display: flex;
        flex-direction: column;
    }

    .build-team2{
        margin-top: 40px;
    }

    #del2{
        border-right: none;
        border-left: none;
    }

    #rated{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 25px;
    }

    #procent{
        display: flex;
        flex-direction: column;
    }

    .pro{
        border-right: none;
    }

    #footer{
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        
    }

    #footer1{
        display: flex;
        flex-direction: column;
        align-items: start;

    }

    #footer2{
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(2, auto);
        gap: 20px; 
    }



    .textbarky{
        margin-top: 15px;
    }

}
